# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/CPP-Game-Programming-Training/v15/ipch/ecdd4d36f3b6441b.ipch
.vs/CPP-Game-Programming-Training/v15/ipch/AutoPCH/efdb4a0a2f2e028a/BASE_PROJECT.ipch
.vs/CPP-Game-Programming-Training/v15/ipch/AutoPCH/b3569a8f7a1f40a4/COMMON.ipch
.vs/CPP-Game-Programming-Training/v15/ipch/AutoPCH/8b448dbc27bd7ce3/MAIN.ipch
.vs/CPP-Game-Programming-Training/v15/ipch/AutoPCH/20efbeccfb73385b/MACRO.ipch
.vs/CPP-Game-Programming-Training/v15/ipch/a959f2544a9ddc1e.ipch
.vs/CPP-Game-Programming-Training/v15/ipch/32abaaeb97a450e4.ipch
.vs/CPP-Game-Programming-Training/v15/ipch/2f55261df834771f.ipch
.vs/CPP-Game-Programming-Training/v15/Browse.VC.opendb
.vs/CPP-Game-Programming-Training/v15/Browse.VC.db
